aiofiles~=22.1.0
astroid
Click
colorama
fastapi~=0.112.2
gunicorn
h11
isort
lazy-object-proxy
matplotlib~=3.10.0
mccabe
pandas~=2.2.3
pydantic~=2.10.3
pylint
pymc==5.10.0
pytensor~=2.19.0
python-multipart
scikit-learn~=1.6.1
scipy
seaborn~=0.13.2
six
starlette
torch~=2.1.0
torchvision~=0.16.0
uvicorn
wrapt
websockets
accelerate
numpy~=1.26.4
xarray~=2025.4.0